* {
  box-sizing: border-box;
}
.text-color{
  color: #111 !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
h3{
  font-family: "Great Vibes", cursive;
}
.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.btn-item {
  margin-left: 15px;
}

.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
}
.menu-items {
  display: flex;
  margin: 6rem 0;
  position: relative;
  color: transparent;
}
.menu-info {
  margin-left: 20px;
  width: 100%;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

li {
  color: #e00a00;
  list-style-type: none;
  font-size: 2rem;
}

.menu-text {
  padding-top: 20px;
}

img{
  aspect-ratio: 16.9 !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search{
  display: flex;
  width: 70%;
  margin-left: 15%;
  background-color: transparent;
  &:focus{ 
    background-color: rgb(240, 240, 240);
    filter:drop-shadow(0 0 5px #111 ) ;
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 10px white;
  }
}

.list-group{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  
  
}